.password-input {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 512px;
		height: 56px;
		background: var(--f-4-f-5-f-6, #f4f5f6);
		border-radius: 80px;
		padding: 0 24px 0 20px;
	}

	&__label {
		display: none;
		&.active {
			display: flex;
			color: var(--a-9-a-9-a-9, #a9a9a9);
			font-family: Roboto-400;
			font-size: 12px;
			line-height: 18px; /* 150% */
		}
	}

	&__forgot {
		color: var(--light, #ad7955);
		text-align: right;
		font-family: Uto-500;
		font-size: 14px;
	}

	&__input-box {
		border-radius: 8px;
		display: flex;
		width: 100%;
		// padding: 16px;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__input {
		width: 100%;
		background: transparent;
		color: var(--1-a-1-c-23, #1a1c23);
		font-family: Roboto-400;
		font-size: 14px;
		line-height: 20px; /* 142.857% */
		background: transparent;
		&::placeholder {
			color: var(--a-9-a-9-a-9, #a9a9a9);
			font-family: Roboto-400;
			font-size: 14px;
			line-height: 20px; /* 142.857% */
		}
	}
	&__eye {
		cursor: pointer;
	}

	&__error {
		margin: -4px 0 0 19px;
		color: var(--1-a-1-c-23, #1a1c23);
		font-family: Roboto-400;
		font-size: 14px;
		line-height: 16px; /* 114.286% */
	}
}
